<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS demo</title>
</head>
<body>
    <h1>June 9,2024:Ind Vs Pak T20 Match</h1>
    <h3>Player of the match:Virat, <%= 88+1 %> runs</h3>
    <p>India won by 6 wickets</p>
    <button>Scorecard</button>
</body>
</html>