<%- include("includes/head.ejs") %>  <!--uses include -->
<body>
    <h3>This page belongs to <%=username%></h3>
    <button>Follow</button>
    <button>Message</button>
    <h3>Accounts that follow you are:</h3>
    <ul>
        <% for(let name of followers) {%>
            <li><%=name %></li>
        <% } %>
    </ul>

</body>
</html>